<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <title>
            MecQP
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma/css/bulma.min.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #searchtitle{
                font-size: 100px;
            }
        </style>
    </head>
    <body>
        <section class="section">
            <div class="container has-text-centered">
                <h1 class="title is-1 has-text-info has-text-weight-bold" id="searchtitle">
                    Search
                </h1>
                <p class="subtitle is-3">
                    Input the details and search for the PYQP you want. All PYQPs are in PDF formats. Some may contain additional notes and corrections.
                </p>
            </div>
        </section>
        <form id="papersearch" method="POST">
            <table id="inputbox" class="table is-bordered is-narrow is-striped is-hoverable is-fullwidth">
                <tr>
                    <th>
                        Scheme
                    </th>
                    <th>
                        Branch
                    </th>
                    <th>
                        Semester
                    </th>
                    <th>
                        Exam Type
                    </th>
                    <th>
                        Month
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Subject Code
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Search
                    </th>
                </tr>
                <tr>
                    <td>
                        <div class="select">
                            <select id="Scheme" name="scheme">
                                <option>
                                    Select 
                                </option>
                                <option>
                                    All
                                </option>
                                <option>
                                    2019
                                </option>
                                <option>
                                    2024
                                </option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="select">
                            <select id="Branch" name="branch">
                                <option>
                                    Select
                                </option>
                                <option>
                                    All
                                </option>
                                <option>
                                    CSE
                                </option>
                                <option>
                                    CSBS
                                </option>
                                <option>
                                    EC
                                </option>
                                <option>
                                    EB
                                </option>
                                <option>
                                    EV
                                </option>
                                <option>
                                    EEE
                                </option>
                                <option>
                                    ME
                                </option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="select">
                            <select id="Semester" name="semester">
                                <option>
                                    Select
                                </option>
                                <option>
                                    All
                                </option>
                                <option>
                                    1
                                </option>
                                <option>
                                    2
                                </option>
                                <option>
                                    3
                                </option>
                                <option>
                                    4
                                </option>
                                <option>
                                    5
                                </option>
                                <option>
                                    6
                                </option>
                                <option>
                                    7
                                </option>
                                <option>
                                    8
                                </option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="select">
                            <select id="Exam_Type" name="exam_type">
                                <option>
                                    Select
                                </option>
                                <option>
                                    All
                                </option>
                                <option>
                                    Internal-1
                                </option>
                                <option>
                                    Internal-2
                                </option>
                                <option>
                                    Semester-R
                                </option>
                                <option>
                                    Semester-S
                                </option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="select">
                            <select id="Month" name="month">
                                <option>
                                    Select
                                </option>
                                <option>
                                    All
                                </option>
                                <option>
                                    January
                                </option>
                                <option>
                                    February
                                </option>
                                <option>
                                    March
                                </option>
                                <option>
                                    April
                                </option>
                                <option>
                                    May
                                </option>
                                <option>
                                    June
                                </option>
                                <option>
                                    July
                                </option>
                                <option>
                                    August
                                </option>
                                <option>
                                    September
                                </option>
                                <option>
                                    October
                                </option>
                                <option>
                                    November
                                </option>
                                <option>
                                    December
                                </option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="select">
                            <select id="Year" name="year">
                                <option>
                                    Select
                                </option>
                                <option>
                                    All
                                </option>
                                <option>
                                    2026
                                </option>
                                <option>
                                    2025
                                </option>
                                <option>
                                    2024
                                </option>
                                <option>
                                    2023
                                </option>
                                <option>
                                    2022
                                </option>
                                <option>
                                    2021
                                </option>
                                <option>
                                    2020
                                </option>
                                <option>
                                    2019
                                </option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <input type="text" id="Subject_Code" name="subject_code" class="input">
                    </td>
                    <td>
                        <input type="text" id="Subject" name="subject" class="input">
                    </td>
                    <td>
                        <button type="submit" class="button is-primary is-dark">
                            Search
                        </button>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
        <br><br>
        <table id="searchresults" name="searchresults" class="table is-bordered is-narrow is-striped is-hoverable is-fullwidth">
            <tr>
                <th>
                    SL.NO
                </th>
                <th>
                    Scheme
                </th>
                <th>
                    Branch
                </th>
                <th>
                    Semester
                </th>
                <th>
                    Exam Type
                </th>
                <th>
                    Month
                </th>
                <th>
                    Year
                </th>
                <th>
                    Subject Code
                </th>
                <th>
                    Subject
                </th>
                <th id="stickyh">
                    Download Link
                </th>
            </tr>
            {% for result in results %}
                <tr>
                    <td>
                        {{ result[0] }}
                    </td>
                    <td>
                        {{ result[1] }}
                    </td>
                    <td>
                        {{ result[2] }}
                    </td>
                    <td>
                        {{ result[3] }}
                    </td>
                    <td>
                        {{ result[4] }}
                    </td>
                    <td>
                        {{ result[5] }}
                    </td>
                    <td>
                        {{ result[6] }}
                    </td>
                    <td>
                        {{ result[7] }}
                    </td>
                    <td>
                        {{ result[8] }}
                    </td>
                    <td>
                        <a href="{{ url_for('download', name=result[9]) }}">
                            Download
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="container has-text-centered">
            <h3>
                Go back to homepage
            </h3>
            <div id="homeurl">
                <a href="{{ url_for('home') }}" >
                    Home
                </a>
            </div>
        </div>
        <br><br>
        <script src="{{ url_for('static', filename='js/mecqpsearch.js') }}">
        </script>
    </body>
</html>