<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <title>
            MecQP
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma/css/bulma.min.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #logintitle{
                font-size: 100px;
            }
            #password{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <section class="section">
            <div class="container has-text-centered">
                <h1 class="title is-1 has-text-info has-text-weight-bold" id="logintitle">
                    Admin Login
                </h1>
            </div>
        </section>
        <section class="section">
            <div class="container has-text-centered">
                <form method="POST" onsubmit="return loginValidate()">
                    <h2 class="title is-3">
                        Enter Password:
                    </h2>
                    <input type="password" id="password" name="adminloginpassword" class="input">
                    <br>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <br>
                    <button type="submit" class="button is-primary is-dark">
                        Login
                    </button>
                </form>
            </div>
        </section>
        <div class="container has-text-centered">
            {% if wrongpassword %}
                <h2 class="title is-2 has-text-danger">
                    Incorred password. Try again.
                </h2>
            {% endif %}
        </div>
        <script>
            function loginValidate()
            {
                var password=document.querySelector("#password");
                if(password.value==""){
                    alert("Please enter password")
                    return false;
                }
                return true;
            }
        </script>
    </body>
</html>