<!DOCTYPE html>
<html>
    <head>
        <title>
            MecQP
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mecqpsearch.css') }}">
    </head>
    <body>
        <h1>
            Search
        </h1>
        <p>
            Input the details and search for the PYQP you want. All PYQPs are in PDF formats. Some may contain additional notes and corrections.
        </p>
        <form id="papersearch" method="POST">
            <table id="inputbox">
                <tr>
                    <th>
                        Scheme
                    </th>
                    <th>
                        Branch
                    </th>
                    <th>
                        Semester
                    </th>
                    <th>
                        Exam Type
                    </th>
                    <th>
                        Month
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Subject Code
                    </th>
                    <th>
                        Subject
                    </th>
                </tr>
                <tr>
                    <td>
                        <select id="Scheme">
                            <option>
                                Select 
                            </option>
                            <option>
                                2019
                            </option>
                            <option>
                                2024
                            </option>
                        </select>
                    </td>
                    <td>
                        <select id="Branch">
                            <option>
                                Select
                            </option>
                            <option>
                                CSE
                            </option>
                            <option>
                                CSBS
                            </option>
                            <option>
                                EC
                            </option>
                            <option>
                                EB
                            </option>
                            <option>
                                EV
                            </option>
                            <option>
                                EEE
                            </option>
                            <option>
                                ME
                            </option>
                        </select>
                    </td>
                    <td>
                        <select id="Semester">
                            <option>
                                Select
                            </option>
                            <option>
                                1
                            </option>
                            <option>
                                2
                            </option>
                            <option>
                                3
                            </option>
                            <option>
                                4
                            </option>
                            <option>
                                5
                            </option>
                            <option>
                                6
                            </option>
                            <option>
                                7
                            </option>
                            <option>
                                8
                            </option>
                        </select>
                    </td>
                    <td>
                        <select id="Exam_Type">
                            <option>
                                Select
                            </option>
                            <option>
                                Internal-1
                            </option>
                            <option>
                                Internal-2
                            </option>
                            <option>
                                Semester-R
                            </option>
                            <option>
                                Semester-S
                            </option>
                        </select>
                    </td>
                    <td>
                        <select id="Month">
                            <option>
                                Select
                            </option>
                            <option>
                                January
                            </option>
                            <option>
                                February
                            </option>
                            <option>
                                March
                            </option>
                            <option>
                                April
                            </option>
                            <option>
                                May
                            </option>
                            <option>
                                June
                            </option>
                            <option>
                                July
                            </option>
                            <option>
                                August
                            </option>
                            <option>
                                September
                            </option>
                            <option>
                                October
                            </option>
                            <option>
                                November
                            </option>
                            <option>
                                December
                            </option>
                        </select>
                    </td>
                    <td>
                        <select id="Year">
                            <option>
                                Select
                            </option>
                            <option>
                                2026
                            </option>
                            <option>
                                2025
                            </option>
                            <option>
                                2024
                            </option>
                            <option>
                                2023
                            </option>
                            <option>
                                2022
                            </option>
                            <option>
                                2021
                            </option>
                            <option>
                                2020
                            </option>
                            <option>
                                2019
                            </option>
                        </select>
                    </td>
                    <td>
                        <input type="text" id="Subject_Code">
                    </td>
                    <td>
                        <input type="text" id="Subject">
                    </td>
                </tr>
            </table>
            <button type="submit">
                Search
            </button>
        </form>
        <script src="{{ url_for('static', filename='js/mecqpsearch.js') }}">
        </script>
    </body>
</html>