<!DOCTYPE html>
<html>
    <head>
        <title>
            MecQP
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mecqpsearch.css') }}">
    </head>
    <body>
        <h1>
            Search
        </h1>
        <p>
            Input the details and search for the PYQP you want. All PYQPs are in PDF formats. Some may contain additional notes and corrections.
        </p>
        <form id="papersearch" method="POST">
            <table id="inputbox">
                <tr>
                    <th>
                        Scheme
                    </th>
                    <th>
                        Branch
                    </th>
                    <th>
                        Semester
                    </th>
                    <th>
                        Exam Type
                    </th>
                    <th>
                        Month
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Subject Code
                    </th>
                    <th>
                        Subject
                    </th>
                </tr>
                <tr>
                    <td>
                        <select id="Scheme" name="scheme">
                            <option>
                                Select 
                            </option>
                            <option>
                                All
                            </option>
                            <option>
                                2019
                            </option>
                            <option>
                                2024
                            </option>
                        </select>
                    </td>
                    <td>
                        <select id="Branch" name="branch">
                            <option>
                                Select
                            </option>
                            <option>
                                All
                            </option>
                            <option>
                                CSE
                            </option>
                            <option>
                                CSBS
                            </option>
                            <option>
                                EC
                            </option>
                            <option>
                                EB
                            </option>
                            <option>
                                EV
                            </option>
                            <option>
                                EEE
                            </option>
                            <option>
                                ME
                            </option>
                        </select>
                    </td>
                    <td>
                        <select id="Semester" name="semester">
                            <option>
                                Select
                            </option>
                            <option>
                                All
                            </option>
                            <option>
                                1
                            </option>
                            <option>
                                2
                            </option>
                            <option>
                                3
                            </option>
                            <option>
                                4
                            </option>
                            <option>
                                5
                            </option>
                            <option>
                                6
                            </option>
                            <option>
                                7
                            </option>
                            <option>
                                8
                            </option>
                        </select>
                    </td>
                    <td>
                        <select id="Exam_Type" name="exam_type">
                            <option>
                                Select
                            </option>
                            <option>
                                All
                            </option>
                            <option>
                                Internal-1
                            </option>
                            <option>
                                Internal-2
                            </option>
                            <option>
                                Semester-R
                            </option>
                            <option>
                                Semester-S
                            </option>
                        </select>
                    </td>
                    <td>
                        <select id="Month" name="month">
                            <option>
                                Select
                            </option>
                            <option>
                                All
                            </option>
                            <option>
                                January
                            </option>
                            <option>
                                February
                            </option>
                            <option>
                                March
                            </option>
                            <option>
                                April
                            </option>
                            <option>
                                May
                            </option>
                            <option>
                                June
                            </option>
                            <option>
                                July
                            </option>
                            <option>
                                August
                            </option>
                            <option>
                                September
                            </option>
                            <option>
                                October
                            </option>
                            <option>
                                November
                            </option>
                            <option>
                                December
                            </option>
                        </select>
                    </td>
                    <td>
                        <select id="Year" name="year">
                            <option>
                                Select
                            </option>
                            <option>
                                All
                            </option>
                            <option>
                                2026
                            </option>
                            <option>
                                2025
                            </option>
                            <option>
                                2024
                            </option>
                            <option>
                                2023
                            </option>
                            <option>
                                2022
                            </option>
                            <option>
                                2021
                            </option>
                            <option>
                                2020
                            </option>
                            <option>
                                2019
                            </option>
                        </select>
                    </td>
                    <td>
                        <input type="text" id="Subject_Code" name="subject_code">
                    </td>
                    <td>
                        <input type="text" id="Subject" name="subject">
                    </td>
                </tr>
            </table>
            <button type="submit">
                Search
            </button>
        </form>
        <br><br>
        <table id="searchresults" name="searchresults">
            <tr>
                <th>
                    SL.NO
                </th>
                <th>
                    Scheme
                </th>
                <th>
                    Branch
                </th>
                <th>
                    Semester
                </th>
                <th>
                    Exam Type
                </th>
                <th>
                    Month
                </th>
                <th>
                    Year
                </th>
                <th>
                    Subject Code
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Download Link
                </th>
            </tr>
            {% for result in results %}
                <tr>
                    <td>
                        {{ result[0] }}
                    </td>
                    <td>
                        {{ result[1] }}
                    </td>
                    <td>
                        {{ result[2] }}
                    </td>
                    <td>
                        {{ result[3] }}
                    </td>
                    <td>
                        {{ result[4] }}
                    </td>
                    <td>
                        {{ result[5] }}
                    </td>
                    <td>
                        {{ result[6] }}
                    </td>
                    <td>
                        {{ result[7] }}
                    </td>
                    <td>
                        {{ result[8] }}
                    </td>
                    <td>
                        <a href="{{ url_for('download', name=result[9]) }}">
                            Download
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <script src="{{ url_for('static', filename='js/mecqpsearch.js') }}">
        </script>
    </body>
</html>